<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Bugzilla</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                      
                          <a href="<%= projects_path %>" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>All Projects <br/></a></br></br> 
                          <% if current_user.role == "manager" %>
                            <a href="<%= new_project_path %>" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>Create Projects <br/></a>
                          <% end %>  

                        </div>

                         <div class="col-xs-4 col-md-4">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

